.homePage {
  padding: 0px 20px;
  text-align: center;
}

input {
  margin: 20px 20px;
}

h2 {
  color: #bada5f;
}

.homePage button {
  background-color: #ff4e50;
  border: 0px;
  padding: 20px 20px;
  width: 50%;
  font-size: 20px;
  text-transform: capitalize;
  color: #ffffff;
  font-weight: bold;
  display: block;
  margin: 50px auto;
}
